article {
    width: 32%;
    border: 3px double black;
    text-align: center;
    float: left;
}

.article-titel{
    background-color: #c96d6d;
    font-size: xx-large;
    margin-bottom: 60px;
    border: 3px double black;
    text-align: center; 
}
.article-img-cyrcle{
    width: 45%;
    border: 3px double black;
    text-align: center;
}
.article-h2 {
    border: 2px double black;
    padding: 20px;
}
.article-img {
animation-name: az;
animation-duration: 2s;
}

.article-h2:hover {
    animation-name: changeColor;
    animation-duration: 2s;
    animation-iteration-count: 2s;
    animation-direction: alternate;
}

@keyframes changeColor {

    0% {
        border: 2px double red;
        padding: 20px;
    }

    10% {
        background-color: #1606a5;
        height: 100px
    }
    50% {
        background-color: #023605;

    }
    100% {
        background-color: rgb(233, 2, 2);

    }
}

@keyframes az{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}

